
/* RTL support */
#qt-tablist-table label {
  float: right;
  clear: right;
}

#views_styles-form #add-more-tabs-button{
  float: right;
}

#views_styles-settings .views_styles-tabstyles .form-item {
  float: right;
  margin: 0 0 10px 10px;
}
#views_styles-settings .views_styles-tabstyles .form-item .option .form-radio {
  margin-leftt: 5px;
  float: right;
}
