
/* Admin form */

#qt-tablist-table label {
  float: left;
  clear: left;
  width: 120px;
}
#qt-tablist-table .form-item {
  margin-bottom: 5px;
}
#qt-tablist-table .form-item .description {
  margin-top: 3px;
}
#qt-tablist-table .qt-tab-title {
  width: 130px;
  height: 125px;
}
#qt-tablist-table .qt-tab-type,
#qt-tablist-table .qt-tab-remove {
  width: 100px;
}

#qt-tablist-table .description {
  white-space: normal;
}

#qt-tablist-table .qt-tab-title .form-item .form-text {
  width: 80px;
}
#qt-tablist-table .qt-tab-type label.option {
  width: auto;
}
#qt-tablist-table .qt-tab-content .form-item .form-text {
  width: 150px;
}
#qt-tablist-table .qt-tab-view-content input.form-submit {
  display: none;
}
#qt-tablist-table .qt-tab-content {
  display: none;
}

#qt-tablist-table .qt-tab-remove label,
#views_styles-form #add-more-tabs-button label {
  font-weight: bold;
  float: left;
  clear: left;
  width: auto;
}
#views_styles-form #add-more-tabs-button {
  width: 100px;
  display: block;
  margin-top: 20px;
  float: right;
}
#views_styles-form .add-tab,
#qt-tablist-table .delete-tab {
  display: block;
  overflow: hidden;
  width: 39px;
  height: 23px;
  padding: 0;
  margin: 0;
  border: 0;
  text-indent: -9999px;
  cursor: pointer; /* hand-shaped cursor */
  cursor: hand; /* for IE 5.x */
}

#views_styles-form .add-tab {
  background: transparent url(../add-tab.gif) no-repeat 0 -3px;
}
#views_styles-form .delete-tab {
  background: transparent url(../delete-tab.gif) no-repeat 0 0;
}

/* QT style selection form */

div.views_styles-preview {
  border: none;
  width: 280px;
  height: 80px;
}

#views_styles-settings .views_styles-tabstyles .form-item {
  width: 280px;
  float: left;
  margin: 0 10px 10px 0;
  border: 1px solid #ccc;
  background-color: #fff;
}
#views_styles-settings .views_styles-tabstyles .form-item .option {
  display: block;
  background-color: #bfe3ff;
  font: bold 12px/18px verdana;
  color: #0a5793;
}
#views_styles-settings .views_styles-tabstyles .form-item .option:hover {
  background-color: #aadaff;
  cursor: pointer;
  color: #003863;
}
#views_styles-settings .views_styles-tabstyles .form-item .option .form-radio {
  margin-right: 5px;
  float: left;
  height: 15px;
  margin-top: 2px;
}
#views_styles-settings .views_styles_wrapper {
  margin: 5px;
  font: bold 12px/170% Verdana;
}
