
.views_styles-hide {
  display: none;
}

ul.views_styles_tabs {
  margin-top: 0;
}
ul.views_styles_tabs li {
  display: inline;
  background: none;
  list-style-type: none;
  padding: 2px;
  white-space: nowrap;
}
ul.views_styles_tabs li a:focus {
  outline: none;
}
